* {
  margin: 0;
  --tc: #222;
  --bc: #fff;
  --hc: #25c;
  --bc-bq: #eee;
  --font: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
  --font-code: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  * {
    --c-100: #F8F9FA;
    --c-200: #E9ECEF;
    --c-300: #DEE2E6;
    --c-400: #CED4DA;
    --c-500: #ADB5BD;
    --c-600: #6C757D;
    --c-700: #495057;
    --c-800: #343A40;
    --c-900: #212529;
    --tc: #D6DFFF;
    --tc-100: #887;
    --bc: #000412;
    --hc: #cdb;
    --bc-bq: #0d1510
  }
}

body {
  font: 1.25rem var(--font);
  line-height: 1.4;
  color: var(--c-100);
  background: var(--c-900);
  max-width: 36em;
  margin: 0 auto;
  padding: 0 0.7em;
  text-align: justify;
}

main {
  margin: 3em 0;
}

a {
  color: var(--c-100);
  text-decoration: underline;
  transition: .05s;
}

a:hover {
  color: var(--c-400);
}

*::selection {
  background: var(--c-100);
  color: var(--c-900);
}

p {
  margin-bottom: 1em;
}

section,
section:target~section:last-of-type {
  display: none;
}

section:target,
section:last-of-type {
  display: inherit;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 1em;
}

header {
  display: flex;
  margin: 1em 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

header>a {
  font-weight: 700;
}

blockquote {
  background-color: var(--c-800);
  border-left: 2px solid var(--c-600);

  p {
    padding: .5em;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: .5em;
}

ol {
  margin: 1em 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0 3rem 0;
}

thead {
  background-color: var(--c-800);
}

thead th {
  padding: 1em;
  font-size: .9rem;
  text-align: left;
  border-bottom: 1px solid var(--c-500);
}

tbody td {
  padding: 1em;
  text-align: left;
  font-size: .9rem;
}

tbody tr {
  border-bottom: 1px solid var(--c-500);
}

tbody tr:nth-child(odd) {
  background-color: var(--c-600);
}

tbody tr:nth-child(even) {
  background-color: var(--c-700);
}

.postlist {
  list-style: none;
  padding: 0;
  padding-left: 1.5rem;
}

.postlist__item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  margin-bottom: 1em;
}

.postlist__item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
  margin-left: -1.5rem;
}

.postlist__date,
.postlist__item:before {
  font-size: 0.8125em;
  color: var(--color-gray-90);
}

.postlist__date {
  word-spacing: -0.5px;
}

.postlist__link {
  font-size: 1.1875em;
  font-weight: 700;
  flex-basis: calc(100% - 1.5rem);
  padding-left: .25em;
  padding-right: .5em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}

.postlist__item-active .postlist__link {
  font-weight: bold;
}

.post__tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-style: italic;
}

.postlist__item>.post__tag {
  align-self: center;
}

/* Tags list */
.post__metadata {
  display: inline-flex;
  flex-wrap: wrap;
  gap: .5em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.post__metadata time {
  margin-right: 1em;
}

.post__content {
  margin: 2rem 0;
}

pre[class^="language-"] {
  background: var(--c-800);
  padding: 1em;
  border: 1px solid var(--c-600);
  font-size: 0.8em;
  margin: 1em 0;
}

code {
  line-height: 1.5em;
  padding: 0 2px;
  margin: -1px 0px;
}

/* Selects <code> that is not in <pre>
 * to target inline code elements
 * */
code:not(pre code) {
  font-size: 0.8em;
  background: var(--c-800);
  padding: 2px;
  border: 1px solid var(--c-600);
}
