* {
  margin: 0;
  --c-t: #171d20;
  --c-bg: hsla(12, 61%, 97%, 0.8);
  --c-syntax: #fabd2f;
  --c-100: #212529;
  --c-200: #2E3338;
  --c-300: #B7C3CC;
  --c-400: #CFD7DD;
  --c-500: #E7EBEE;
  --c-link: #fa8e2f;
  --serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol ;
  --sans-serif: "Manrope", serif;
  --monospace: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; 
}

@media (prefers-color-scheme: dark) {
  * {
    --c-t: hsla(12, 61%, 97%, 0.8);
    --c-bg: #171d20;
    --c-syntax: #fabd2f;
    --c-100: #f8f9fa;
    --c-200: #B8C1CC;
    --c-300: #42484C;
    --c-400: #383D43;
    --c-500: #2E3338;
    --c-600: #212529;
    --c-link: #fa8e2f;
  }
}

body {
  font: 1rem var(--sans-serif);
  line-height: 1.4;
  color: var(--c-t);
  background: var(--c-bg);
  max-width: 40em;
  margin: 0 auto;
  padding: 0 0.7em;
}

main {
  margin: 3em 1em;
}

a:not(li a):not(header a) {
  color: var(--c-t);
  text-decoration: underline;
  transition: .05s;
}

a:not(li a):not(header a):hover {
  text-decoration: underline;
  transition: .05s;
}


a:hover {
  color: var(--c-200);
}

a[href^="#day"] {
  margin-right: .5rem;
}

p:has(a[href^="#day"]) {
  text-align: center;
}

header a, li a {
  color: var(--c-t);
  text-decoration: underline;
  transition: .05s;
}

*::selection {
  background: var(--c-t);
  color: var(--c-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
{
  font-family: var(--sans-serif);
}

p {
  font-family: var(--sans-serif);
  margin-bottom: 1em;
  line-height: 1.75;
}

section,
section:target~section:last-of-type {
  display: none;
}

section:target,
section:last-of-type {
  display: inherit;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__item {
  margin-right: 1em;
}

header {
  display: flex;
  margin: 1em 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

header>a {
  font-weight: 700;
}

blockquote {
  padding-left: .25rem;
  border-left: 2px solid var(--c-300);

  p {
    padding: .5em;
  }
}

ul {
  padding: 0;
  margin-bottom: .5em;
  padding-left: 2em;
  list-style-type: circle;
  line-height: 1.75;


  li {
  font-family: var(--sans-serif);
  }
}

ol {
  margin: 1em 0;
  line-height: 1.75;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0 3rem 0;
}

thead {
  background-color: var(--c-500);
}

thead th {
  padding: 1em;
  font-size: .9rem;
  text-align: left;
  border-bottom: 1px solid var(--c-200);
}

th:last-child {
  text-align: right;
}

td {
  width: 100%;
  padding: 1em;
  text-align: left;
  font-size: .9rem;
}

td:last-child {
  white-space: nowrap;
  text-align: right;
}

tbody tr {
  border-bottom: 1px solid var(--c-200);
}

tbody tr:nth-child(odd) {
  background-color: var(--c-400);
}

tbody tr:nth-child(even) {
  background-color: var(--c-300);
}

.postlist {
  line-height: 1.25;
  list-style: none;
  padding: 0;
  padding-left: 1.5rem;
}

.postlist__item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  margin-bottom: 1em;
}

.postlist__item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
  margin-left: -1.5rem;
}

.postlist__date,
.postlist__item:before {
  font-size: 0.8125em;
  color: var(--color-gray-90);
}

.postlist__date {
  word-spacing: -0.5px;
}

.postlist__link {
  font-size: 1.1875em;
  font-weight: 700;
  flex-basis: calc(100% - 1.5rem);
  padding-left: .25em;
  padding-right: .5em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}

.postlist__item-active .postlist__link {
  font-weight: bold;
}

.post__tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-style: italic;
}

.postlist__item>.post__tag {
  align-self: center;
}

/* Tags list */
.post__metadata {
  display: inline-flex;
  flex-wrap: wrap;
  gap: .5em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.post__metadata time {
  margin-right: 1em;
}

.post__content {
  margin: 2rem 0;
}

.post__nextprev {
  list-style: none;
  padding: 0;
}

pre[class^="language-"] {
  background: var(--c-500);
  padding: 1em;
  font-size: 0.8em;
  margin: 1em 0;
  overflow: scroll;
}

code {
  line-height: 1.5em;
  padding: 0 2px;
  margin: -1px 0px;
}

/* Selects <code> that is not in <pre>
 * to target inline code elements
 * */
code:not(pre code) {
  color: var(--c-syntax);
  font-size: 1rem;
}

code:not(pre code)::before {
  content: "`";
}

code:not(pre code)::after {
  content: "`";
}

.centered {
  display: block;
  margin: 0 auto;
}

.post {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: 2rem;
    position: relative;
  }
}

hr {
  margin-block-end: 3rem;
  margin-block-start: 2rem;
}

