---
layout: layouts/home.njk
numberOfLatestPostsToShow: 3
---

<h1>Hi, I'm Jochen.</h1>

<p>I'm a versatile technologist with experience in full software development lifecycle – from inception and design to deployment, operation, and iterative development. Currently, I work as a Software Engineer within the financial space.</p>
<p>Before transitioning to Software Engineering, I worked in the creative industries across Germany and China, including a brief stint at <a href="https://www.artnet.com/artists/chen-man/">ChenMan</a>'s Studio6.</p>
<p>Read more <a href="/about">about</a> me, feel free to check out my <a href="https://www.linkedin.com/in/strbrgr/">resume</a>, or find out what I am doing <a href="/now">now</a>.
