* {
  margin: 0;
  --tc: #222;
  --bc: #fff;
  --hc: #25c;
  --bc-bq: #eee;
}

@media (prefers-color-scheme: dark) {
  * {
    --tc: #ffd;
    --bc: #011;
    --hc: #cdb;
    --bc-bq: #222
  }
}

body {
  font: 1.25rem system-ui, ui-sans-serif, sans-serif, monospace;
  line-height: 1.4;
  color: var(--tc);
  background: var(--bc);
  max-width: 36em;
  margin: 0 auto;
  padding: 0 0.7em;
  text-align: justify;
}

main {
  margin: 3em 0;
}

a {
  color: var(--tc);
}

a:hover {
  background-color: var(--hc);
  color: var(--bc);
}

*::selection {
  background: var(--hc);
  color: var(--bc);
}

p {
  margin-bottom: 1em;
}

section,
section:target~section:last-of-type {
  display: none;
}

section:target,
section:last-of-type {
  display: inherit;
}

/* Nav */
.nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-item {
  display: inline-block;
  margin-right: 1em;
}

.nav a[href][aria-current="page"] {
  text-decoration: underline;
}

/* end navigation */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

header>a {
  font-weight: 700;
  padding-left: 0;
}

hr {
  height: 1px;
  background: white;
  border: none
}

blockquote {
  background-color: var(--bc-bq);

  p {
    padding: .5em;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: .5em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

thead {
  background-color: var(--bc-bq);
}

thead th {
  padding: 1em;
  font-size: .9rem;
  text-align: left;
}

tbody td {
  padding: 1em;
  font-size: .9rem;
}

tbody tr:nth-child(even) {
  background-color: var(--bc-bq);
}

tr:nth-child(even) {
  background-color: var(--bc-bq);
}


tr>*:nth-child(1) {
  width: 80%;
}

tr>*:nth-child(2) {
  width: 20%;
  text-align: right;
}
