<!doctype html>
<html lang="{{ metadata.language }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@_strbrgr" />
  <meta name="twitter:title" content="Jochen Stierberger" />
  <meta name="twitter:description" content="Personal Website" />
  <meta name="twitter:image" content="https://jochen.fyi/og.png" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Jochen Stierberger" />
  <meta property="og:description" content="Personal Website" />
  <meta property="og:url" content="https://jochen.fyi" />
  <meta property="og:image" content="https://jochen.fyi/og.png" />
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='0.9em' font-size='90'>🍋</text></svg>" />

  {%- css %}{% include "public/css/index.css" %}{% endcss %}
  <style>{% getBundle "css" %}</style>
</head>

<body>
  <header>
    <a href="/" class="home-link">{{ metadata.base_url }}</a>

    <nav>
      <ul class="nav__list">
        {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav__item"><a href="{{ entry.url }}" {% if entry.url==page.url %} aria-current="page" {% endif %}>{{
            entry.title }}</a></li>
        {%- endfor %}
        <!-- <li class="nav__item"><a href="feed.xml">RSS</a></li> -->
      </ul>
    </nav>
  </header>

  <main>
    {{ content | safe }}
  </main>
</body>

</html>
