<!doctype html>
<html lang="{{ metadata.language }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description or metadata.description }}">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@_strbrgr" />
  <meta name="twitter:title" content="Jochen Stierberger" />
  <meta name="twitter:description" content="Personal Website" />
  <meta name="twitter:image" content="https://jochen.fyi/og.png" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Jochen Stierberger" />
  <meta property="og:description" content="Personal Website" />
  <meta property="og:url" content="https://jochen.fyi" />
  <meta property="og:image" content="https://jochen.fyi/og.png" />

  <title>{{metadata.siteName}}</title>
  <meta name="title" content="{{metadata.siteName}}">
  {%- css %}{% include "public/css/index.css" %}{% endcss %}
  <style>{% getBundle "css" %}</style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <ul class="nav__list">
        {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav__item"><a href="{{ entry.url }}" {% if entry.url==page.url %} aria-current="page" {% endif %}>{{
            entry.title }}</a></li>
        {%- endfor %}
        <!-- <li class="nav__item"><a href="feed.xml">RSS</a></li> -->
      </ul>
    </nav>
  </header>

  <main>
    {{ content | safe }}
  </main>
</body>

</html>
